#subti{
    color: white;
    font-size: 198%;
    font-family: 'Prototype';
    position: absolute;
    bottom: 65%;
    left: 2%;
}
#subtii{
    color: white;
    font-size: 198%;
    font-family: 'Prototype';
    position: absolute;
    bottom: 30%;
    left: 2%;
}
form{
    position: absolute;
    left: 2%;
    bottom: 40%;
}
#image{
    position: absolute;
    bottom: 5%;
    right: 6%;
}
#img-tra{
    position: absolute;
    bottom: 3%;
    right: 6%;
}
.linux{
    position: absolute;
    bottom: 7%;
}
#f1{
    background-color: rgb(0, 0, 0);
    width: 360px;
    height: 260px;
    position: absolute;
    bottom: 25%;
    right: 42%;
}
#f2{
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 260px;
    position: absolute;
    bottom: 25%;
    right: 18%;
}
#logo{
    text-shadow: 3px 3px 3px black;
    color: white;           
    font-family: 'Prototype';
    font-size: 200%;
    position: absolute;
    right: 51%;
    bottom: 63%;
}
#ini{
    text-shadow: 3px 3px 3px black;
    color: white;           
    font-family: 'Prototype';
    font-size: 200%;
    position: absolute;
    right: 24%;
    bottom: 63%;
}